{% extends "base.html" %}
{% block content %}
<h2>Inventory Report</h2>
<a class="btn btn-primary my-3" href="{{ url_for('download_csv') }}">Download CSV</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Name</th><th>Barcode</th><th>Quantity</th><th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr {% if product['quantity'] < 5 %} style="background-color: #ffd1d1;" {% endif %}>
            <td>{{ product['id'] }}</td>
            <td>{{ product['name'] }}</td>
            <td>{{ product['barcode'] }}</td>
            <td>{{ product['quantity'] }}</td>
            <td>{{ product['location'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}